@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --header-font: 'Oswald', sans-serif;
  --body-font: 'Quicksand', sans-serif;
  --background-color: linear-gradient(-270deg, rgba(24,26,36,1) 0%, rgba(43,35,100,1) 100%);
  --primary-color: linear-gradient(90deg, rgba(57,109,245,1) 0%, rgba(126,44,203,1) 100%);
  --secondary-color: #3976E9;
  --warning-color: #EA5F72;
  --tertiary-color: #F5F5F5;
  --input-color: #2E3344;
}

body {
  background: var(--background-color);
  color: var(--tertiary-color);
}

h1, 
h2 {
  font-family: var(--header-font);
  font-weight: 500;
  margin-bottom: 16px;
}

.addDeveloperForm {
  padding-bottom: 24px;
  border-width: 0.5px;
  border-bottom-style: solid;
  border-bottom-color: var(--tertiary-color);
  margin-bottom: 40px;
}

label,
input {
  font-family: var(--body-font);
  margin: 4px 0 16px 0;
  font-weight: 600;
}

input,
.filter__categories {
  border-radius: 24px;
  border-style: none;
  padding: 8px;
  background-color: var(--input-color);
  color: var(--tertiary-color);
  margin-bottom: 24px;
  cursor: pointer;
}

.addDeveloper__submit {
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 600;
  border-radius: 24px;
  border-style: none;
  background: var(--primary-color);
  padding: 8px 16px;
  color: var(--tertiary-color);
  cursor: pointer;
}

h3 {
  font-family: var(--header-font);
  font-weight: 500;
  margin-bottom: 2px;
}

h4 {
  font-family: var(--body-font);
  font-size: 16px;
  color: var(--warning-color);
  font-weight: 600;
}

ul {
  border-radius: 16px;
  background-color: var(--input-color);
  padding: 16px;
}

p {
  font-size: 16px;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 4px;
}

ol {
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
  padding: 0;
  border-width: 0.5px;
  border-bottom-style: solid;
  border-bottom-color: var(--tertiary-color);
}

.developer {
  cursor: pointer;
}

.btnDelete__Developer {
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 600;
  border-radius: 24px;
  border-color: var(--warning-color);
  padding: 4px 8px;
  margin: 4px 0;
  color: var(--warning-color);
  background-color: var(--background-color);
  cursor: pointer;
}

@media (min-width: 320px) {
  body {
    margin: 8px;
    padding: 16px;
  }

  input {
    width: 100%;
  }
}

@media (min-width: 768px) {
  body {
    margin: 16px;
    padding: 24px;
  }
  input {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  body {
    margin: 32px;
    padding: 32px 32px 40px 32px;
  }

  input {
    width: 50%;
  }
}
